.admin{
    display: flex;
    width:100vw;
    justify-content: center;
    padding: 35px;

}

.admin h1{
    text-align: center;
    margin: 50px;
}

.admin table{
    margin-top: 30px;
    margin: 50px;
    margin-top: 0;
    width: auto;
    border-spacing: 0;
border-collapse: collapse;
}

.admin td, .admin th{
    width: auto;
    padding: 10px 20px;

}

.admin th{
    background-color: gray;
    text-align: left;
    color: white;
}

.admin td{
    border-bottom: 1px solid silver;
}