:root {
    --nav-background-color: rgb(39, 142, 211);
    --nav-text-color: #cee1eb;
  }
.nav {
    display: flex;
    align-items: center;
    padding: 0px 50px;
    background-color: var(--nav-background-color);
    justify-content: space-between;
    height: 80px;
}



.nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    height: 100%;
    padding: 0;
    align-items: center;
    text-align: center;
}

.nav li {
    list-style: none;
    display: flex;
    padding: 0;
    height: 100%;
    align-items: center;
}

.nav a {
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 20%;
    color: var(--nav-text-color);
    transition: all 0.5s ease 0s;
    padding: 20px 20px;
    margin: 0;
    font-size: 17px;
    font-weight: 400;
}

    .nav a:hover {
        color: var(--nav-background-color);
        background-color: var(--nav-text-color);
        height: 100%;
    }

    .nav button{
        background-color: var(--nav-text-color);
        color: var(--nav-background-color);
    }

    .nav button:hover{
        background-color: white;

    }
.logo {
    margin-right: auto;
    font-size: 35px;
    padding: 0;
    font-weight: 800;
    color: var(--nav-text-color);
}
