:root {
  --nav-background-color: #278ed3;
  --nav-text-color: white;
}
.nav {
  display: flex;
  align-items: center;
  padding: 0px 50px;
  background-color: var(--nav-background-color);
  height: 80px;
}

.nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  height: 100%;
  padding: 0;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex: 1;
}

.nav li {
  list-style: none;
  display: flex;
  padding: 0;
  height: 100%;
  align-items: center;
  justify-content: center;
  
}

.nav a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--nav-text-color);
  transition: all 0.5s ease 0s;
  padding: 20px 20px;
  margin: 0;
  font-size: 17px;
  font-weight: 400;
  width: 100%;
  height: 100%;
}


.nav a:hover {
  color: var(--nav-background-color);
  background-color: #b7e2ff;
  width: 100%;
}

.nav button {
  width: 100px;
  margin-left: 15px;
  font-size: 14px;
  border-color: var(--nav-background-color);
}

.nav button:hover {
    border-color: var(--nav-text-color);
    background-color: var(--nav-background-color);
    color: var(--nav-text-color);
}

.logo {
  font-size: 35px;
  padding: 0;
  font-weight: 800;
  color: var(--nav-text-color);
  margin-right: auto;
}

.nav .icon img {
  height: 40px;
  width: auto;
}

.nav .icon {
  margin-left: auto;
}
.nav .icon a {
  padding: 0;
}

.nav .icon a:hover {
  height: auto;
  background-color: transparent;
  transform: rotate(180deg);
}

.nav .margin-auto {
  margin-left: auto;
}


