
.nav {
    display: flex;
    align-items: center;
    padding: 0px 50px;
    background-color: antiquewhite;
    justify-content: space-between;
    height: 80px;
}



ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    height: 100%;
    padding: 0;
    align-items: center;
    text-align: center;
}

li {
    list-style: none;
    display: flex;
    padding: 0;
    height: 100%;
    align-items: center;
}

a {
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 20%;
    color: #403d39;
    transition: all 0.5s ease 0s;
    padding: 20px 20px;
    margin: 0;
    font-size: 17px;
    font-weight: 400;
}

    a:hover {
        color: #ffecd1;
        background-color: #b2967d;
        height: 100%;
    }


.logo {
    margin-right: auto;
    font-size: 35px;
    padding: 0;
    font-weight: 800;
    color: #403d39;
}
