.requestform {
  width: 100vw;
}

form {
  display: flex;
  justify-content: center;
  margin: 90px;
}

.formContent {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0 10px;
}

input {
  display: inline-block;
  border-radius: 5px;
  border: 1px solid silver;
  margin-bottom: 25px;
  width: 240px;
  height: 48px;
  padding: 10px 18px;
  font-size: 16px;
  transition: 0.3s;
  outline: none;
}

input:focus,
input:hover {
  border: 1px solid silver;
  box-shadow: 6px 6px #c3c3c3;
}

input[type="submit"] {
  border-radius: 25px;
  background-color: #5ea2bf;
  color: white;
  font-size: 18px;
  font-weight: 600;
  height: 42px;
  margin: 0;
  cursor: pointer;
  transition: 0.3s;
  border-color: #5ea2bf;
}

input[type="submit"]:hover,
button:hover {
  border-color: #5ea2bf;
  background-color: white;
  color: #5ea2bf;
  transition: 0.2s;
  box-shadow: none;
}

input[type="submit"]:focus {
  box-shadow: none;
}

button {
  font-size: 14px;
  height: 35px;
  width: 80px;
  margin-left: 25px;
  border-radius: 25px;
  border: 1px solid #5ea2bf;
  background-color: #5ea2bf;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

h2 {
  text-align: center;
  font-weight: 900;
  font-size: 30px;
  margin-bottom: 40px;
  color: #403d39;
}

h3 {
  margin-bottom: 20px;
  color: #403d39;
}

.formContent ul {
  list-style: none;
  width: 280px;
  height: 210px;
  overflow: auto;
  padding-right: 30px;
}

.formContent li {
  border: 1px solid silver;
  border-radius: 50px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding-right: 18px;
  padding: 12px 18px 12px 0;
  margin-bottom: 10px;
  pointer-events: none;
}

/*list animation*/
.userInFormList-exit {
  margin-left: 0;
  transition: ease-out 0.5s;
  overflow: hidden;
}
.userInFormList-exit-active {
  margin-left: 80%;
  transition: ease-out 0.5s;
}

.userInFormList-enter {
  opacity: 1;
  transition: 0.4s;
  width: 0;
}
.userInFormList-enter-active {
  opacity: 1;
  transition: 0.4s;
  width: 100%;
}

/*text config*/
.formContent p {
  align-self: center;
  font-size: 14px;
  color: silver;
  margin-left: 18px;
  font-weight: 400;
  width: 80%;
  overflow: hidden;
  pointer-events: none;
}
.deleteIcon {
  pointer-events: auto;
  width: 10px;
}
.deleteIcon:hover {
  cursor: pointer;
}

/* scoll bar */
/* width */
ul::-webkit-scrollbar {
  width: 7px;
  border-radius: 20px;
  transition: 0.2s;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  transition: 0.2s;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: silver;
  border-radius: 10px;
  transition: 0.2s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #777;
  transition: 0.5s;
}

/*placeholder settings*/
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: silver;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: silver;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: silver;
}
