

.dashboard{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(200px, 38vh);
  gap: 15px;
  justify-content: center;
  align-content: center;
  padding: 50px 10vw;
}

.dashboard h2{
  width: 3px;
  margin: 0;
}
/*components*/
.placeholder {
  width: auto;
  margin-left: 10px;
  border: 1px solid silver;
  border-radius: 25px;
  padding: 35px;
}

.dashboard .info{
  grid-column: 1/6;
}
.history-container{
  grid-column: 1 / 4;
}
.request-container{
grid-column: 4/6;
grid-row: 1;
}

.dashboard th, .dashboard td{
  text-align: left;
  width:20%;
  padding: 10px;
}

.dashboard button{
  font-size: 13px;
  font-weight: 600;
  width: auto;
  height: auto;
  padding: 6px 15px;
  margin: 0;
}

.dashboard .items{
  height: 80%;
  overflow: auto;
}
.dashboard .item{
  border: 1px solid silver;
  margin-bottom: 25px;
  border-radius: 25px;
  padding: 15px;
}

